/* buttons */
.data-input-user {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    align-items: center;
    margin: 20px 0;
    /*justify-content: space-between;
    align-content: space-between;*/
}

.data-input-user .forms-user{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 5px 0;
    padding: 12px 20px;
}

.data-input-user .forms-user .labels-user{
    color: black;
    margin-right: 20px;
    margin-left: 20px;
}

.data-input-user .forms-user .data_input{
    margin: 10px 20px 20px;
    display: inline-block;
    text-align: center;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: white;
    border: black;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    /* margin: auto;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    height: 42px;
    cursor: pointer;

    padding: 0 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 20px;

    font-family:inherit;
    font-size: 18px;
    /*font: normal 20px/normal "Antic", Helvetica, sans-serif;*/

}

.data-input-user .forms-user .data_input:hover {
    width: 400px;
    color: white;
    background: black;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.data-input-user .forms-user .data_input:focus {
    width: 400px;
    cursor: default;
    padding: -13px 20px 0;
    color: white;
    background: black;
    -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.data-input-user .forms-user input[type=submit] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    cursor: pointer;
    border: 1px solid #018dc4;
    display: inline-block;
    box-sizing: content-box;
    -webkit-border-radius: 20px;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

    width: 150px;
    margin: 5px 0;
    padding: 12px 20px;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.data-input-user .forms-user input[type=submit]:hover {
    background: rgba(87,179,255,0.91);
}

.button {
    position: absolute;
    display: inline-block;
    top: 15%;
    left: 50%;
    z-index: -1;
    text-align: center;
    transform: translate(-50%, -50%);
   /* margin: auto;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    height: 42px;
    cursor: pointer;
  /*  top: 0;*/
    right: 0;
    bottom: 0;
   /* left: 0;*/
    padding: 0 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    font: normal 20px/normal "Antic", Helvetica, sans-serif;
    color: white;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: black;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {
    width: 400px;
    color: white;
    background: black;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
    width: 400px;
    cursor: default;
    padding: -13px 20px 0;
    color: white;
    background: black;
    -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
/*

.table {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 500px;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid black;
    font-size: 15px;
    background: #fff!important;
    border-radius: 20px;
}
.table th {
    font-weight: bold;
    padding: 7px;
    background: black;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid black;
}
.table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}
.table tbody tr:nth-child(even){
    background: #f8f8f8!important;
}

.table tbody tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table tbody tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

*/
