@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
@import "buttons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', sans-serif;
}

p {
    margin: 0;
    padding: 0 0 10px 0; // Отступ 10px снизу
}

.wrapper{
    background: #171c24;
    position: fixed;
    width: 100%;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 80px;
    display: flex;
}
.content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}

.wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: #f2f2f2;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.wrapper input[type="checkbox"]{
    display: none;
}

/* Dropdown Menu code start */
.content .links ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px){
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}

@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
}

.main-text{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}



.main-text h2{
    font-size: 45px;
    margin: 5px 0;
}
.main-text h3
{
    font-size: 20px;
    margin: 5px 0;
}

/* buttons */
.options {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    align-items: center;

}

.options .forms{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 5px 0;
    padding: 12px 20px;
}

/* Доделать с формами*/
.options .forms input[type=submit]{

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    cursor: pointer;
    border: 1px solid #018dc4;
    display: inline-block;
    box-sizing: content-box;
    -webkit-border-radius: 20px;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

    width: 20%;
    margin: 5px 0;
    padding: 12px 20px;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.options .forms input[type=submit]:hover {
    background: rgba(87,179,255,0.91);
}

.options .forms input[type=text] {
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: black;
    background: white;*/

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    cursor: pointer;
    border: 1px solid #018dc4;
    display: inline-block;
    box-sizing: content-box;
    -webkit-border-radius: 20px;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

    width: 20%;
    margin: 5px 0;
    padding: 12px 20px;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.options .forms input[type=text]:hover {
    background: rgba(87,179,255,0.91);
}

/*
.options .forms input[type=text]:focus {
    width: 100%;
}*/

.skip_element{
    margin-top: calc(100% - 600px);
}

.box-container {/*
    margin-top: 10px;*/
    width: 100%;
    display: flex;
    margin: 0 20px;

    /*
    height: 500px;*/

}
.box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.cards{
    padding: 0 20px;
    align-items: center;
    margin: 0 auto;
    text-align: center;

    width: 100%;/*
    resize: vertical;*/
   /* width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;

    max-width: 1100px;

    text-align: center;*/
    /*padding: 30px;*/
}
.cards h2.header{
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.specialities{
    display: flex;
    align-items: center;
}
.cardsContent{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
    transition: all .3s ease;
    background: white;
}
.cardsContent .fab{
    font-size: 70px;
    margin: 16px 0;
}
.cardsContent > *{
    flex: 1 1 100%;
}
.cardsContent:hover{
    color: white;
}
.cardsContent:hover a{
    border-color: white;
    background: white;
}
.card-1:hover{
    border-color: #57B3FF;
    background: #57B3FF;
}
.card-1:hover a{
    color: #57B3FF;
}
.card-2:hover{
    border-color: #57B3FF;
    background: #57B3FF;
}
.card-2:hover a{
    color: #57B3FF;
}
.card-3:hover{
    border-color: #57B3FF;
    background: #57B3FF;
}
.card-3:hover a{
    color: #57B3FF;
}
.cardsContent h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.cardsContent p{
    font-size: 17px;
    font-family: inherit;
   /* font-family: 'Poppins',sans-serif;*/
}
.cardsContent a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}
.cardsContent a:hover{
    border-radius: 4px;
}
@media (max-width: 900px) {
    .specialities{
        display: flex;
        flex-direction: column;
    }
}

.table-container{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.table-container table {
   /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    padding: 0 20px;*/

  /*  position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);*/

    /*
    padding: 0 20px;*/

    width: calc(100% - 400px);
    margin: 60% auto 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid black;
    font-size: 15px;
    background: #fff!important;
    border-radius: 20px;
}
.table-container table th {
    font-weight: bold;
    padding: 7px;
    background: black;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid black;
}
.table-container table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}
.table-container table tbody tr:nth-child(even){
    background: #f8f8f8!important;
}

.table-container table tbody tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table-container table tbody tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table-container table tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.table-container table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table-container table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table-container table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}


section {
    background-color: #c5f3ff;
    padding: 1rem;
}

.main-content-page {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

.section-items
{
    justify-items: center;
    align-content: space-between;
}

@media (min-width: 1170px) {
    section {
        padding: 1rem calc(50% - 585px);
    }
}