table {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 500px;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid black;
    font-size: 15px;
    background: #fff!important;
    border-radius: 20px;
}
table th {
    font-weight: bold;
    padding: 7px;
    background: black;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid black;
}
table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}
table tbody tr:nth-child(even){
    background: #f8f8f8!important;
}

table tbody tr th:first-child {
    border-radius: 20px 0 0 0;
}
table tbody tr th:last-child {
    border-radius: 0 20px 0 0;
}
table tbody tr:nth-child(even) {
    background: #F8F8F8;
}
table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}
